.home {
  display: flex;
  background-color: rgb(41, 23, 65);
  border-radius: 50px 20px 0 0;
  height: 100vh;
}

.profile__picture {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 2px 0px 0px #fff;
  height: 300px;
  width: 300px;
  margin: 10% -10px 100px 0px;
  /* background-color: aqua; */
  /* outline: 5px dashed red; */
}

.profile__picture-background {
  height: 95%;
  width: 95%;
  background-image: url(Profile-Picture.jpeg);
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__picture-background:hover {
  transform: scale(1.07);
  transition: 1s ease-in-out;
}

@media only screen and (max-width: 770px) and (min-width: 650px) {
  .profile__picture {
    /* background-color: #fff; */
    height: 40vh;
    width: 30vw;
  }
}
@media only screen and (max-width: 650px) {
  .profile__picture {
    /* background-color: #fff; */
    height: 120px;
    width: 150px;
    margin-right: 50px;
  }
}

@media only screen and (max-width: 420px) {
  .home {
    display: grid;
  }
  .profile__picture {
    margin-top: -92vh;
    margin-left: 35vw;
    height: 25vh;
  }
}
@media only screen and (max-width: 380px) {
  .home {
    display: grid;
  }
  .profile__picture {
    margin-top: -102vh;
    margin-left: 35vw;
    height: 25vh;
  }
}
