.header {
	display: flex;
	position: sticky;
}

.header__menu {
	display: flex;
	flex-direction: row;
	flex: 1;
	justify-content: flex-end;
	align-items: center;
}

.header__menu-link {
	padding: 10px;
	cursor: pointer;
	text-decoration: none;
}
