.header {
	display: flex;
	position: sticky;
	background-color: brown;
	border-radius: 0 0 20px 50px;
	width: auto;
	/* overflow: hidden; */
}

.header__menu {
	display: flex;
	flex-direction: row;
	flex: 1;
	justify-content: flex-end;
	align-items: center;
}

.header__menu-link {
	padding: 10px;
	cursor: pointer;
	text-decoration: none;
	color: white;
	font-weight: 650;
}

@media only screen and (max-width: 800px) {
	.header__menu-link {
		font-size: 3vw;
	}
}
